## -------------------------------
## Build artifacts
## -------------------------------
*.o
.*
*.swp
*.bak
core
out

## -------------------------------
## Backup artifacts
## -------------------------------
tmp/
bin/
 
## -------------------------------
## Tag files
## -------------------------------
GTAGS
GRTAGS
GPATH
tags
cscope.*
